

table{
  position: relative;
  left: 200px;
  right:100px;
  height: 500px;
  top:50px;
  width: 70%;
}

tr:hover {
  background-color: lightsteelblue;
}

tr{
  font-family: "Times New Roman", Times, serif;
  font-size: large;
}

td{
  font-size: large;
}

th{
  font-size: large;
}

h3{
  position: relative;
  padding-left: 200px;
  top:50px;
  font-family: "Times New Roman", Times, serif;
  font-size: large;

}