.login{
    position: absolute;
    right: 0;
    float: right;
  }

label{
  position: relative;
  right: 0;
  top: 50px;
  font-family: "Times New Roman", Times, serif;
}

.navbar {
  position: fixed;
  width: 100%;
  z-index: 2;
}


  li {
    float: left;
    margin:0 100px 0 0; 
  }
  
  a {
    font-family: "Times New Roman", Times, serif;
  }

  