.example-card {
    max-width: 800px;
    display: block;
overflow: auto;
    min-height: 100px;
    top:100px;
  left: 25%;
  width: 50%;
  margin-bottom: 50px; 
  }

.info{
  float: right;
}

.content{
  padding: 20px;
}